# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Instruction files
instructions-*

# Old main file
main-old.cpp

# Data files
data/*

# Final binary file
crypto_monitor
crypto_monitor_rpi

# Producer-consumer
producer_consumer.c

.vscode/*

report.synctex.gz
report.log
report.aux